* {
    primary: #90d5ad;
    primary-fixed: #acf2c8;
    primary-fixed-dim: #90d5ad;
    on-primary: #003822;
    on-primary-fixed: #002112;
    on-primary-fixed-variant: #025233;
    primary-container: #025233;
    on-primary-container: #acf2c8;
    secondary: #b4ccbb;
    secondary-fixed: #d0e8d7;
    secondary-fixed-dim: #b4ccbb;
    on-secondary: #203529;
    on-secondary-fixed: #0b1f15;
    on-secondary-fixed-variant: #364b3f;
    secondary-container: #364b3f;
    on-secondary-container: #d0e8d7;
    tertiary: #a4cddd;
    tertiary-fixed: #bfe9f9;
    tertiary-fixed-dim: #a4cddd;
    on-tertiary: #053542;
    on-tertiary-fixed: #001f28;
    on-tertiary-fixed-variant: #234c59;
    tertiary-container: #234c59;
    on-tertiary-container: #bfe9f9;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1511;
    on-surface: #dfe4dd;
    on-surface-variant: #c0c9c1;
    outline: #8a938b;
    outline-variant: #404943;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dfe4dd;
    inverse-on-surface: #2c322e;
    inverse-primary: #266a4a;
    surface-dim: #0f1511;
    surface-bright: #353b36;
    surface-container-lowest: #0a0f0c;
    surface-container-low: #171d19;
    surface-container: #1b211d;
    surface-container-high: #262b27;
    surface-container-highest: #303632;
}
